h1 {
	border-bottom: 1px dashed #999999;
	color: #000000;
	font-size: 2em;
	font-weight: lighter;
	margin: 0 0 1em;
	padding: 0 4px 4px 0;
}
h2 {
	font-size:1.7em;
	margin:0 0 1em;
	font-weight:lighter;
	background-color: #e5e5e5;
	padding: 5px;
	text-transform:lowercase;
}
h3 {
	font-size:1.5em;
	margin:0;
	font-weight:lighter;
}
h4 {
	font-size:1.4em;
	margin:0;
	font-weight:lighter;
}
h5 {
	font-size:1em;
	margin:0;
}
h6 {
	border-bottom: 1px solid #999999;
	font-size: 1em;
	margin: 0 0 1em;
	padding: 0 0 5px;
	text-transform: uppercase;
}
h6.error {
	background: url("images/icon-error.png") no-repeat 4px 9px;
	color: #FE080B;
	border:1px solid #FE080B;
	background-color:#ffe8e8;
	padding:0.75em 0.75em 0.75em 2em;
}
p {
	margin:0 0 1em;
}
.floatLeft, .left {
	float:left;
}
.floatRight, .right {
	float:right;
}
div.clearSmall {
	clear:both;
	padding:5px 0pt 0pt;
}
.clear {
	clear:both;
}
a img {
	border:none;
}
#master_center {
	margin-top:50px;
}
fieldset {
	padding:0pt;
	border:0pt none;
	margin: 2px 0px 2px 0px;
}
.bold {
	font-weight:bold;
}
.lighter {
	font-weight:lighter;
}
ul {
	list-style: circle;
}
#prod_nav {
	float:left;
}
#prod_nav ul {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 200px;
	margin-bottom: 0px;
}
#prod_nav li {
	padding-bottom: 2px;
}
#prod_nav li a:link, #prod_nav li a:visited {
	vertical-align:middle;
	display: block;
	padding: 5px 5px 5px 10px;
	color: #ff0099;
	text-decoration: none;
	font-weight: normal;
	background-color: #ffffff;
}
#prod_nav li a:hover {
	background-color: #ffffff;
	color: #ec008c;
	text-decoration: underline;
}
#main_cont {
	margin-left: 10px;
	float: left;
	text-align: left;
}
#leftnavtop {
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	margin-bottom: 2px;
	padding-left: 10px;
	padding-top: 5px;
	height: 19px;
	background-image:url(images/site_spritesac14.gif?skin=engb.lastminute.com);
	background-position:0px 92px;
}
#leftnavtop1 {
	font-weight: bold;
	color: #ffffff;
	text-align: left;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-top: 5px;
	height: 19px;
	background-color: #ec008c;
}
a:link, a.nav1:active, a.nav1:visited {
	text-decoration: underline;
	color: #11C;
}
a:hover {
	text-decoration: none;
}
a.nav1:link, a.nav1:active, a.nav1:visited {
	text-decoration: underline;
	color: #FFFFFF;
}
a.nav1:hover {
	text-decoration: none;
}

body {
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:100%;
	margin:0px;
}
.hidden {
	left:-100em;
	position:absolute;
	top:-100em;
}
#master {
	margin:auto;
	width:980px;
	font-size:0.75em;
	overflow:hidden;
}
#header {
	padding-top:10px;
	}

ul#master_nav {
    background-image: url("images/site_spritesac14.gif?skin=engb.lastminute.com");
    background-position: 0 97px;
    color: #FFFFFF;
    float: left;
    list-style-type: none;
    margin: 25px 0 0;
    padding: 0;
    width: 100%;
}
ul#master_nav #keyword {
	border:none;
}
ul#master_nav li.mainNav {
	color: #ffffff;
	display: inline;
	float: left;
	color: #ffffff;
	height:50px;
	line-height:38px;
	text-align:center;
}
ul#master_nav li.current div {
	margin:auto;
}
ul#master_nav li.mainNav a {
	font-size:1.2em;
	padding:0px 20px;
	color: #ffffff;
	text-decoration: none;
}
ul#master_nav li.mainNav a:hover {
	color: #ff0099;
	background-position:0px 230px;
	text-decoration:underline;
}
ul#master_nav li.current a, ul#master_nav li.current a:hover {
	color:#ff0099;
	display: inline;
	font-weight:bold;
	text-decoration:none;
}
ul#master_nav li.right {
	float:right;
	border-right: none;
	padding-right:10px;
}

#footer {
	clear:both;
}
#footer p {
	line-height:28px;
	text-align:center;
	color:#404040;
}


div.figure, div.figure-text {
	border: 5px dashed #e5e5e5;
	margin:0 0 1em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div.figure-text {
	padding:0.75em;
}
div.figure:hover, div.figure-text:hover {
	border: 1px solid #ccc;
	-moz-box-shadow: 1px 1px 1px #999;
	-webkit-box-shadow: 1px 1px 1px #999;
	box-shadow: 1px 1px 1px #999;
}
div.grey-bg {
	background-color:#eaeaea
}
.error {
	color:#fe080b
}
p.close {
	background: url("images/links/icon-close.png") no-repeat scroll 683px 10px #000000;
	color: #FFFFFF;
	padding: 10px 32px 10px 0;
	text-align: right;
	text-decoration: underline;
}

/* section: colour palette*/

.color-magenta {
	background-color:#ec008c;
}
.color-black {
	background-color:#000;
}
.color-white {
	background-color:#FFF
}
.sample-box {
	width:64px;
	height:64px;
}
.sample-border {
	border:1px solid #333
}
.color-magenta-02 {
	background-color:#ee3d96;
}
.color-magenta-03 {
	background-color:#ef5ba1;
}
.color-magenta-04 {
	background-color:#f173ac;
}
.color-magenta-05 {
	background-color:#f287b7;
}
.color-magenta-06 {
	background-color:#f49ac1;
}
.color-magenta-07 {
	background-color:#f6adcd;
}
.color-magenta-08 {
	background-color:#f8c1d9;
}
.color-magenta-09 {
	background-color:#fad5e5;
}
.color-magenta-10 {
	background-color:#fde9f1;
}
.color-black {
	background-color:#000000;
}
.color-black-02 {
	background-color:#1a1a1a;
}
.color-black-03 {
	background-color:#333333;
}
.color-black-04 {
	background-color:#4d4d4d;
}
.color-black-05 {
	background-color:#666666;
}
.color-black-06 {
	background-color:#808080;
}
.color-black-07 {
	background-color:#999999;
}
.color-black-08 {
	background-color:#b2b2b2;
}
.color-black-09 {
	background-color:#cccccc;
}
.color-black-10 {
	background-color:#e5e5e5;
}
/*yellow*/
.color-yellow-01 {
	background-color:#feb902;
}
.color-yellow-02 {
	background-color:#fec01b;
}
.color-yellow-03 {
	background-color:#fec735;
}
.color-yellow-04 {
	background-color:#fece4d;
}
.color-yellow-05 {
	background-color:#fed567;
}
.color-yellow-06 {
	background-color:#fedc80;
}
.color-yellow-07 {
	background-color:#ffe39a;
}
.color-yellow-08 {
	background-color:#ffeab3;
}
.color-yellow-09 {
	background-color:#fff1cc;
}
.color-yellow-10 {
	background-color:#fff8e5;
}
/*green*/
.color-green-01 {
	background-color:#12c100;
}
.color-green-02 {
	background-color:#29c719;
}
.color-green-03 {
	background-color:#41cd33;
}
.color-green-04 {
	background-color:#59d34c;
}
.color-green-05 {
	background-color:#71da66;
}
.color-green-06 {
	background-color:#88e07f;
}
.color-green-07 {
	background-color:#a0e699;
}
.color-green-08 {
	background-color:#b7ecb2;
}
.color-green-09 {
	background-color:#d0f3cc;
}
.color-green-10 {
	background-color:#e7f9e5;
}
/*blue*/
.color-blue-01 {
	background-color:#00b3fe;
}
.color-blue-02 {
	background-color:#19bafe;
}
.color-blue-03 {
	background-color:#33c2fe;
}
.color-blue-04 {
	background-color:#4ccafe;
}
.color-blue-05 {
	background-color:#66d1fe;
}
.color-blue-06 {
	background-color:#7fd9fe;
}
.color-blue-07 {
	background-color:#99e1ff;
}
.color-blue-08 {
	background-color:#b2e8ff;
}
.color-blue-09 {
	background-color:#ccf0ff;
}
.color-blue-10 {
	background-color:#e5f7ff;
}
.color-error-01 {
	background-color:#fe080b;
}
.color-error-02 {
	background-color:#ffe8e8;
}
.color-alert-01 {
	background-color:#f87500;
}
.color-alert-02 {
	background-color:#fff9db;
}
.color-info-01 {
	background-color:#09518c;
}
.color-info-02 {
	background-color:#e8f4ff;
}
.colour-palette {
	overflow:hidden
}
.colour-palette h2, .colour-palette h6 {
	clear:both
}
.colour-palette h2 {
	margin:10px 0;
}
.colour-palette h6 {
	margin:0 0 10px;
}
.colour-palette ul {
	list-style-type:none;
	margin:0 0 15px;
	padding:0;
	overflow:hidden;
	float:left;
	width:200px;
}
.colour-palette ul li {
	display:block;
	text-transform:uppercase
}
.colour-palette ul li .sample-box {
	display:inline-block;
	line-height:48px;
}
.column {
	float:left;
	width:200px;
	padding-right:20px;
}
ul.solid-colors {
	width:700px;
	margin:0 0 10px;
}
ul.solid-colors li {
	display: inline-block;
	width: 200px;
	text-transform:none
}
/* /section: colour palette*/

#content {
	float: left;
	background-color: #ffffff;
	width: 730px;
	height: 100%;
	margin-left: 10px;
	padding: 10px;
}
#web_button {
	background: url("images/buttons/button_bg-01.png") repeat-x 0 0 #ec008c ;
	border: 1px solid #EC008C;
	color: #FFFFFF;
	display: block;
	font: bold 12px/26px arial, sans-serif;
	height: 26px;
	outline: medium none;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
	text-transform: lowercase;
	width: 80px;
}
a:hover#web_button, a:focus#web_button {
	background: url("images/buttons/button_bg-02.png") repeat-x 0 0;
	font: bold 12px/25px arial, sans-serif;
	text-shadow: 1px 1px 1px #333333;
	filter: dropshadow(color=#333333, offx=1, offy=1);
	-webkit-box-shadow: 1px 1px 1px 1px #cccccc;
	-moz-box-shadow: 1px 1px 1px 1px #cccccc;
	box-shadow: 1px 1px 1px 1px #cccccc;
}

#web_button_secondary {
	background: url("images/buttons/button-secondary_bg-01.png") repeat-x 0 0 #cecece ;
	border: 1px solid #B2B2B2;
	color: #EC008C;
	display: block;
	font: bold 12px/26px arial, sans-serif;
	height: 26px;
	outline: medium none;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #999;
	filter: dropshadow(color=#999, offx=1, offy=1);
	text-transform: lowercase;
	width: 91px;
}
a:hover#web_button_secondary, a:focus#web_button_secondary {
	background: url("images/buttons/button-secondary_bg-02.png") repeat-x 0 0;
	font: bold 12px/25px arial, sans-serif;
	-webkit-box-shadow: 1px 1px 1px 1px #f2f2f2;
	-moz-box-shadow: 1px 1px 1px 1px #f2f2f2;
	box-shadow: 1px 1px 1px 1px #f2f2f2;
}

#container {
	background-color: #e5e5e5; padding: 10px; overflow: hidden;
	}
